# --------------------------------------------
# IntelliJ section
# --------------------------------------------
.idea/*
.externalToolBuilders/
!.idea/runConfigurations/

# --------------------------------------------
# Gradle
# --------------------------------------------
.gradle/
bin/
build/
target
classes/
out/

# --------------------------------------------
# Others
# --------------------------------------------
peersim-sources/
distributions/
