# --------------------------------------------
# IntelliJ section
# --------------------------------------------
.idea/*
.externalToolBuilders/

# --------------------------------------------
# Gradle
# --------------------------------------------
.gradle/
bin/
build/
target
classes/
out/

# --------------------------------------------
# AutoValue generated classes
# --------------------------------------------
**/src/main/generated/
**/src/test/generated_tests/

# --------------------------------------------
# Others
# --------------------------------------------
peersim/
distributions/
