# --------------------------------------------
# LaTeX
# --------------------------------------------
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.toc

*.pdf
!figures/*.pdf
!plots/*.pdf
