# --------------------------------------------
# PyCharm
# --------------------------------------------
.idea/*
!.idea/runConfigurations/

# --------------------------------------------
# Python
# --------------------------------------------
venv/
__pycache__/
plots/